{% extends "index.html" %}

{% block content %}
    <div class="container"  style="padding-top: 2%">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            {% if username %}
                {% if delete %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        Note deleted successfully
                    </div>
                {% endif %}
                <!-- <h1>Welcome, {{ username }}</h1> -->
                {% if notes %}
                    <input type="text" id="notes" class="form-control no_borders glyphicon" autocomplete="off" name="notes" placeholder="&#xe003 Search Note">
                    <div style="padding-top: 20px">
                        <div id="result"></div>
                    </div>
                    <br>
                    <table class="table table-hover table-striped table-bordered" style="background-color: white;">
                        <thead class="text-center">
                            <tr>
                                <th class="text-center">#</th>
                                <th>Note Title</th>
                                <th>Note Saved on</th>
                                <th>Tags</th>
                                <th class="text-center">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for note in notes %}
                                <tr>
                                    <td class="text-center">{{ loop.index }}</td>
                                    <td> <a href="/notes/{{ note[0] }}/">{{ note[3] }}</a></td>
                                    <td>{{ note[1] | custom_date }}</td>
                                    <td>
                                            {{ tags[loop.index0] }}
                                    </td>
                                    <td class="text-center">
                                        <a href="/notes/delete/{{ note[0] }}/"><span class="glyphicon glyphicon-trash"></span></a>
                                    </td>
                                </tr>
                            {%  endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="alert alert-danger">
                        You have no notes added! Let's add one <a href="/notes/add/">here</a>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
